
<h1>Complimentree</h1>


<p>This app lets you send compliments to trees to improve your mental health</p>


<img src="@imageSource" alt="Red trees" width="300"/>


@code {

    private string imageSource = "images/red_trees.jpg";

}
