@using Complimentree.Models;
@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web; 
@rendermode InteractiveServer

<h3>Treeeeeeeesss</h3>
    @foreach (var tree in trees)
    {
        <TreesDisplay thisTree="@tree" UserAddedCompliment="AddCompliment"></TreesDisplay>
    }


<h3>Select a Tree and Write your own compliment</h3>

<InputTextArea @bind-Value="@TextAreaValue"></InputTextArea>


@code {

    public string TextAreaValue { get; set; }

    public List<Tree> trees = new List<Tree>
    {
      new Tree(1,"Red Tree","12.15","10.5", 200, "Red Tree Species"){ Compliments = new List<Compliment> () { Compliment.GetCompliment() } } ,
      new Tree(2,"Green Tree","13.15","170.5", 200, "Green Tree Species"){ Compliments = new List<Compliment> () { Compliment.GetCompliment() } } ,
      new Tree(3,"yellow Tree","122.15","20.5", 200, "yellow Tree Species"){ Compliments = new List<Compliment> () { Compliment.GetCompliment() } } ,
      new Tree(4,"orange Tree","2.15","60.5", 200, "orange Tree Species"){ Compliments = new List<Compliment> () { Compliment.GetCompliment() } }
    };


    public void AddCompliment(int id)
    {
        trees.Where(t => t.Id == id).First().Compliments.Add(Compliment.GetCompliment());
    }


}
