@page "/about"


<HeadContent>
    <meta name="description" content="@description"> 
    <title>My title</title>
</HeadContent>
<h1>Hello, world!</h1>

Welcome to your new app.
@code
 {
    private string description = "This description is set by the component.";
    private string title = "Control <head> Content";
}