@page "/about"


<HeadContent>
    <meta name="description" content="@description"> 
    <title>My title</title>
</HeadContent>

<Header> </Header>

<Intro></Intro>

@code
 {
    private string description = "This description is set by the component.";
    private string title = "Control <head> Content";
}